.back{
    background-image: url("https://media.istockphoto.com/id/139496979/photo/assortment-of-fruits-and-vegetables-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=11gy8NdvIgwHzvMzymBdc2X2jHOq9e0lrFjfo9KKydY=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg{
    background-color: #B2F252;
}